.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    border-radius: 5px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
  }

  img.imgcard {
    width: 150px;
    border-radius: 8px;
}
.cardimg{
  width: 33%!important;
  padding: 10px;
  
  margin: 10px;
  height: 250px;
  display: inline-flex;
}
.imgtitle{
 
    bottom: 0;
}
div.gallery {
 
}

div.gallery:hover {
 
}

div.gallery img {
  width: 150px;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: white;
}

}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}